a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a {
    color: white;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}

body {
	background-color: black;
	color: white;	
	width: 300px;
	text-align: center;
	font-family: Arial;
	display: block;
	margin: auto;
	position: relative;
}
.portal_image {
	position: absolute;
	left: 0;
	right: 0;
	margin-left:auto;
	margin-right:auto;
}
#portal_back {
	z-index: 1;
}
#portal_front{
	z-index: 2;
}
#portaloverlay{
	z-index: 4;
}
.container {
    overflow: hidden;
}
.floatleft {
    float: left;
}
.floatright {
    float: right;
}
.codebutton {
position: relative;
    height: 55px;
	width: 55px;
	background-color: #404040;
	text-align: center;
	font-size: 14px;
	opacity: 0.9;
}
.floatbottom {
	position: absolute;
	top:345px;
	left: 0;
	right: 0;
	margin-left:auto;
	margin-right:auto;
}
#titletxt{
	font-size: 33px;
	margin-top: 19px;
}
#gordontxt,#chelltxt{
	font-size: 24px;
}
#gordonstats,#chellstats{
	font-size: 15px;
}