body {
	background-color: black;
	color: white;	
	text-align: center;
}

.wrap_div {
    margin: 0 auto;
    display: inline-block;
}

.table_c {
    margin: 0 auto;
}

.button {
	width: 55px;
	height: 30px;
	text-align: center;
	font-size: 12px;
}

.button_text {
    width: 120px;
	height: 30px;
	text-align: center;
	font-size: 12px;
}

.hidden_div {
	display: none;
	margin: 0 auto;
  
}
.imageWrapper {
	position: relative;
}

.overlayImage1,.overlayImage2  {
	position: absolute;
	top: 130;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
}
.overlayImage1 {
	z-index: 98;
	height: 400;
	width: 240;
}

#custom_preview {
	height: 400;
	width: 240;
}

.overlayImage2 {
	z-index: 99;
}
.overlayText {
	position: absolute;
	top: 300;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	z-index: 100;
}