body {
	background-color: black;
	color: white;	
	text-align: center;
	font-family: Arial;
}

.auto_margin {
    margin: 0 auto;
}

.button {
	width: 55px;
	height: 30px;
	text-align: center;
	font-size: 12px;
}

.table_top {
    vertical-align: text-top;
	text-align: left;
}

.centertop {
    vertical-align: text-top;
	text-align: center;
}

.button_text {
    width: 120px;
	height: 30px;
	text-align: center;
	font-size: 12px;
}

.hidden_div {
	display: none;
	margin: 0 auto;
}

.imageWrapper {
	position: relative;
}

.portal_image {
	position: absolute;
	top: 130;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	height: 400;
	width: 240;
}

#portal_back {
	z-index: 98;
}

#portal_front{
	z-index: 99;
}

#custom_preview {
	height: 400;
	width: 240;
}

#portal_text {
	position: absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	top: 100px;
	z-index: 100;
}